<nav id="menu">
    <ul>
        <li id="menu-country"><span>Country</span>
            <ul>
                <li *ngFor="let country of countries">
                    <span>{{country.country}}</span>
                    <input id="country-checkbox-{{country.countryCode}}" type="checkbox" class="Toggle" (click)="setSelectedCountries(country, $event.target.checked)"
                        [checked]="country.checked" />
                </li>
            </ul>
        </li>
        <template ngFor let-country [ngForOf]="countries">
            <li id="country-{{country.countryCode}}" [style.display]="country.checked ? 'block': 'none'">
                <span>{{country.country}}</span>
                <ul>
                    <li id="playlist-{{country.countryCode}}">
                        <span>Playlist</span>
                        <ul>
                            <li id="playlist-{{country.countryCode}}-top" (click)="showPlayListSongs('playlist/' + country.countryCode + '/top', $event)"><span>Top 100</span>
                                <ul>
                                    <li>
                                        <span>Loading...</span>
                                    </li>
                                </ul>
                            </li>

                            <li id="playlist-{{country.countryCode}}-playlist-{{playlist.id}}" *ngFor="let playlist of country.playlists" (click)="showPlayListSongs('playlist/' + country.countryCode + '/playlist-' + playlist.id, $event)"><span>{{playlist.name}}</span>
                                <ul>
                                    <li>
                                        <span>Loading...</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="genre-{{country.countryCode}}">
                        <span>Genre</span>
                        <ul>
                            <li *ngFor="let genre of country.genres" (click)="showPlayListSongs('genre/' + country.countryCode + '/' + genre.replace(' ', '').replace(' ', ''), $event)">
                                <span>{{genre}}</span>
                                <ul>
                                    <li>
                                        <span>Loading...</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="artist-{{country.countryCode}}">
                        <span>Artist</span>
                        <ul>
                            <li *ngFor="let artist of country.artists" (click)="showPlayListSongs('artists/' + country.countryCode + '/' + artist.id, $event)">
                                <span>{{artist.name}}</span>
                                <ul>
                                    <li>
                                        <span>Loading...</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </template>
    </ul>
</nav>