<div class="content">
    <div id="selectCountryList" *ngIf="!_isPlayeReady">
        <p><strong>What do you feel like listening?!</strong></p>
        <p>
            <a *ngFor="let country of countries" href="#music-player/playlist/{{country.countryCode}}/top/0" (click)="selectCountryMusic(country)"><img [src]="country.imageUrl"></a>
        </p>
    </div>
    <div id="playerContainer">
        <div id="playListMenu">
            <div class="component csstransforms">
                <button class="cn-button" id="cn-button">Menu</button>
                <div class="cn-wrapper" id="cn-wrapper">
                    <ul>
                        <!--<li><a href="javascript:void(0)"><span>&#xf1f8;</span></a></li>-->
                        <!--<li><a href="javascript:void(0)"><span>&#xf129;</span></a></li>-->
                        <li (click)="toggleLoopButton()"><a href="javascript:void(0)" [style.color]="loopSongMode? '#4bd963':'#fff'"><span>&#xf01e;</span></a></li>
                        <li (click)="playListEvent('prev')"><a href="javascript:void(0)"><span>&#xf04a;</span></a></li>
                        <li (click)="playPauseButton($event)"><a href="javascript:void(0)"><span [innerHTML]="playPauseString"></span></a></li>
                        <li (click)="playListEvent('next')"> <a href="javascript:void(0)"><span>&#xf04e;</span></a></li>
                        <li (click)="toggleRandomButton()"><a href="javascript:void(0)" [style.color]="randomSongMode? '#4bd963':'#fff'"><span>&#xf074;</span></a></li>
                        <li *ngIf="isAdmin" (click)="playListEvent('replaceSong')"><a href="javascript:void(0)"><span>&#xf1f8;</span></a></li>
                    </ul>
                </div>
                <!--<div id="myProgress">
                    <div id="myBar"></div>
                    <div id="volume">V</div>
                </div>-->
                <div class="audioplayer">
                    <div class="audioplayer-time audioplayer-time-current">00:00</div>
                    <div class="audioplayer-bar">
                        <div class="audioplayer-bar-loaded" style="width: 0%;"></div>
                        <div class="audioplayer-bar-played"></div>
                    </div>
                    <div class="audioplayer-time audioplayer-time-duration">00:00</div>
                    <div class="audioplayer-volume">
                        <div class="audioplayer-volume-button" title="Volume"><a href="#">Volume</a></div>
                        <div class="audioplayer-volume-adjust">
                            <div>
                                <div style="height: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="player">
        </div>
    </div>
</div>