
html, body, #app, #youtubeContainer, #left1, #right1, #left2, #left1A, #left1B {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;	
}

body {
	background: #000;
	color: #fff;
    overflow: hidden;
}

#player {
	position: absolute;
	z-index: 1;
}

.ytp-large-play-button .ytp-button {
   fill: red !important;   
}

.navButton {
	font-family: FontAwesome;
	color: white;
/*	font-size: 2.5rem;*/
    font-size: 5rem;
	background-color: black;
	opacity: 0.5;
	text-shadow: 2px 2px 0 #000;
	top: 5px;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem;
	z-index: 999;
}
    
.rightNav {
	right: 5px;
}

.leftNav {
	left: 5px;
}

#app {
	white-space: nowrap;
	overflow: hidden;
/*	margin-left: -400px; */
	width: 5000px;
}
/*	margin-left: -50px;*/
/*#youtubeContainer, #songListsContainer, #right1 {
	display: inline-block;
}*/

#playerContainer {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%
}

	/*border: 5px solid red;*/
#youtubeContainer {
	float: left;
	width: 50;
	position:relative;
}

#songListsContainer {
	float: left;
	min-width: 400px;
    width: 400px;
	background: #111111;
}
/* #left1B {
	background: orange;
}
 */
/* #left2 {
	float: left;
	width: 200px;
	background: teal;
} */

/* #right1 {
	width: 2000px;
	float: left;
	background: navy;
} */

fieldset {
    width:70%;
    margin: 1em;
    background:transparent;
    border:2px solid 0066cc;
    border-radius:5px;
    padding:20px;
    position:relative;
}
legend {
    font-weight:bold;
    position:absolute;
    left:10px;
    top:-1.1em;
    height:2em;
    line-height:2em;
    padding:0 10px;
}
legend:after {
    position:absolute;
    content:" ";
    height:3px;
    left:0;
    right:0;
    top:49%;
    background:black;
}
legend b {
    position:relative;
    z-index:2;
}
