
html, body, #app, #youtubeContainer, #left1, #right1, #left2, #left1A, #left1B {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;	
}

body {
	background: #000;
	color: #fff;
    overflow: hidden;
}

.ytp-large-play-button .ytp-button {
   fill: red !important;   
}

.navButton {
	font-family: FontAwesome;
	color: white;
	font-size: 2.5rem;
	background-color: black;
	opacity: 0.5;
	text-shadow: 2px 2px 0 #000;
	top: 5px;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem;
}
    
.rightNav {
	right: 5px;
}

.leftNav {
	left: 5px;
}

#app {
	white-space: nowrap;
	overflow: hidden;
	margin-left: -400px;
	width: 5000px;
}
/*	margin-left: -50px;*/
#youtubeContainer, #left1, #right1 {
	display: inline-block;
}


	/*border: 5px solid red;*/
#youtubeContainer {
	float: left;
	min-width: 50x;
	width: 50;
	background: gray;
	position:relative;
}

#left1 {
	float: left;
	width: 200px;
	background: maroon;
}
#left1B {
	background: orange;
}

#left2 {
	float: left;
	width: 200px;
	background: teal;
}

#right1 {
	width: 2000px;
	float: left;
	background: navy;
}